# Python List:

# 01
Write a Python program to sum all the items in a list.

In [1]:
Sum = 0
item_list = [2,8,6,3,7,5]
for i in item_list:
    print(i)
    Sum += i
print(f'The Sum of all numbers are: {Sum}')

2
8
6
3
7
5
The Sum of all numbers are: 31

# 02
Write a Python program to get the largest number from a list.

In [2]:
item_list = [2,8,6,3,7,5,9]
large_num = 0
for i in item_list:
    if i > large_num:
        large_num = i
print(f'The largest number from the list is: {large_num}')

The largest number from the list is: 9

# 03
write a Python program to swap first and last element of the list.

In [3]:
num_list = [2,5,3,7,9]

print(f'List before swap:\n{num_list}')

first = num_list.pop(0)
last = num_list.pop(-1)

num_list.insert(0,last)
num_list.append(first)

print(f'List after swap:\n{num_list}')

List before swap:
[2, 5, 3, 7, 9]
List after swap:
[9, 5, 3, 7, 2]

# 04
Check if an element exists in a list in Python

In [4]:
num_list = [2,5,3,7,9,11,1,13]

if 5 in num_list:
    print(f'The output is {True} because the element we are looking is exist in the list.')
else:
    print(f'The output is {False} because the element we are looking is not exist in the list.')

The output is True because the element we are looking is exist in the list.

# 05
Reverse a list in Python

In [5]:
num_list = [2,5,3,7,9,11,1,13]
num_list.reverse()
print(num_list)

[13, 1, 11, 9, 7, 3, 5, 2]

# 06
Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

In [6]:
num_list1 = [1,2,3,4,5]
num_list2 = [6,7,8,9,0]
new_list = []
for i, j in zip(num_list1,num_list2):
    k = i+j
    new_list.append(k)
print(new_list)

[7, 9, 11, 13, 5]

# 07
write a program to turn every item of a list into its square.

In [7]:
num_lst = [1,2,3,4,5]
sqr_lst = []
for i in num_lst:
    sqr_lst.append(i**2)
print(sqr_lst)

[1, 4, 9, 16, 25]

# 08
Concatenate two lists in the following order: 
['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [8]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3 = []
for i in list1:
    for j in list2:
        list3.append(i+j)
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

# 09
Write a program to iterate both lists simultaneously and display items from list1 in original order and items from list2 in reverse order.

In [9]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for i, j in zip(list1, list2[::-1]):
    print(i, j)

10 400
20 300
30 200
40 100

# 10
Remove empty strings from the list of strings

In [10]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
new_list = list(filter(None,list1))
print(new_list)

['Mike', 'Emma', 'Kelly', 'Brad']

# 11
Write a program to add item 7000 after 6000 in the following Python List

In [11]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

# 12
Write a program to extend it by adding the sublist ["h", "i", "j"] in such a way that it will look like the following list.
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

In [12]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

# 13
Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

In [13]:
list1 = [5, 10, 15, 20, 25, 50, 20]
val = 20
if val in list1:
    index = list1.index(val)
    list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

# 14
Write a program to remove all occurrences of item 20.

In [14]:
list1 = [5, 20, 15, 20, 25, 50, 20]
val = 20
for i in list1:
    if i == val:
        list1.remove(i)
print(list1)

[5, 15, 25, 50]