# Revision of all the concepts that i have learned from Day 01 until now.

# Part 2

# 16
Print numbers from 1 to 100

In [1]:
for i in range(1,101):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# 17
Print numbers from 100 to 1

In [2]:
i = 100
while i>=1:
    print(i, end = " ")
    i-=1

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

# 18
Print a multiplication table of any number

In [3]:
number = int(input("Enter any number for table: "))
for i in range(1,11):
    print(f'{number} X {i} = {number*i}')

Enter any number for table: 24
24 X 1 = 24
24 X 2 = 48
24 X 3 = 72
24 X 4 = 96
24 X 5 = 120
24 X 6 = 144
24 X 7 = 168
24 X 8 = 192
24 X 9 = 216
24 X 10 = 240

# 19
Print the elements of following list using loop

[1,4,9,16,25,36,49,64,81,100]

In [4]:
num_list = [1,4,9,16,25,36,49,64,81,100]

for i in range(len(num_list)):
    print(num_list[i])

1
4
9
16
25
36
49
64
81
100

# 20
Search for a number x in this tuple using loop

(1,4,9,16,25,36,49,64,81,100)

In [5]:
num_tup = (1,4,9,16,25,36,49,64,81,100)
x = 81
n = 0
while n<len(num_tup):
    if num_tup[n] == x:
        print(f"Found the number at index {n}")
    n+=1

Found the number at index 8

# 21
Search for a number x in this tuple using for loop

(1,4,9,16,25,36,49,64,81,100)

In [6]:
num_tuple = (1,4,9,16,25,36,49,64,81,100)
x = 25
n = 0
for i in num_tuple:
    if x == i:
        print(f"{x} found at the index of {n}")
    n+=1

25 found at the index of 4

# OR

In [7]:
num_tuple = (1,4,9,16,25,36,49,64,81,100)
x = 25
for i in range(len(num_tuple)):
    if x == num_tuple[i]:
        print(f"{x} found at the index of {i}")

25 found at the index of 4

# 22
WAP to find the sum of first n numbers by using while loop

In [8]:
i = 1
Sum = 0
while i<=10:
    Sum+=i
    i+=1
print(Sum)

55

# 23
WAP to find the factorial of n number by using for loop

In [5]:
num = int(input("Enter any number: "))
factorial = 1
for i in range(1,num+1):
    factorial*=i
print(factorial)

Enter any number: 8
40320

# 24
Write a function to calculate the average of numbers given by the user

In [6]:
def average(a,b,c):
    avg = (a+b+c)/3
    return avg

number = []
for i in range(1,4):
    num = int(input(f"Enter {i} number: "))
    number.append(num)
    
result = average(number[0], number[1], number[2])
print(result)

Enter 1 number: 6
Enter 2 number: 4
Enter 3 number: 2
4.0

# 25
WAF to print the length of a list. (list is the parameter)

In [11]:
list1 = [1,2,3,4,5]

def list_len(a):
    return len(a)

print(list_len(list1))

5

# 26
WAF to print the elements of a list in a single line. (list is the parameter)

In [12]:
cities = ['Karachi', 'Islamabad', 'Lahore', 'Peshawar']

def print_cities(list):
    for i in list:
        print(i, end=" ")
        
print_cities(cities)

Karachi Islamabad Lahore Peshawar

# 27
WAF to find the factorial of n number.

In [7]:
def factorial(n):
    factorial = 1
    for i in range(1,num+1):
        factorial*=i
    print(factorial)
    
num = int(input("Enter any number: "))
factorial(num)

Enter any number: 5
120

# 28
WAF to convert USD to PKR

In [8]:
def currency_converter(usd):
    usd_to_pkr = 277
    pkr = usd * usd_to_pkr
    return pkr

amount = int(input("Enter USD currency: "))
print(f"{amount} USD is PKR {currency_converter(amount)}")

Enter USD currency: 25
25 USD is PKR 6925

# 30
WAF to find that the given number is odd or even.

In [9]:
def odd_even(num):
    if num%2 == 0:
        print(f"{num} is Even")
    else:
        print(f"{num} is Odd")
        
number = int(input("Enter any number: "))
odd_even(number)

Enter any number: 2569
2569 is Odd

In [10]:
pwd

'D:\\Pyhton Practice\\Python Revision'